.profile {
  color: #373d49;
}
.profile a {
  color: #2bbc8a;
  margin: 0 3px;
}
.profile h2 {
  font-size: 18px;
  margin: 12px 0;
}
.profile h2 a {
  margin: 0;
  opacity: 0;
}
.profile ul {
  list-style: none;
  margin-bottom: 24px;
}
.profile ul li {
  font-size: 14px;
  line-height: 1.5;
  font-weight: normal;
}
