.post h1 {
  font-size: 30px;
  margin: 16px 0;
}
.post .meta time {
  font-size: 14px;
  color: #999;
}
.post .meta .tags {
  padding-top: 8px;
  font-size: 12px;
  color: #aaa;
}
.post .meta .tags .tag-link {
  display: inline-block;
  padding: 2px 4px;
  margin-right: 6px;
  color: #999;
  border: 1px solid #eee;
  border-radius: 2px;
}
.post .meta .tags .tag-link:hover {
  color: #2bbc8a;
  border: 1px solid #2bbc8a;
  transition: 200ms;
}
#markdown {
  padding-top: 15px;
  font-family: -apple-system, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  line-height: 1.7;
  color: #373d49;
}
#markdown h1,
#markdown h2,
#markdown h3,
#markdown h4,
#markdown h5,
#markdown h6 {
  font-weight: 600;
  line-height: 1.5;
  margin: 15px 0;
}
#markdown h1 a,
#markdown h2 a,
#markdown h3 a,
#markdown h4 a,
#markdown h5 a,
#markdown h6 a {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}
#markdown h1 {
  font-size: 36px;
}
#markdown h2 {
  font-size: 24px;
}
#markdown h3 {
  font-size: 20px;
}
#markdown h4 {
  font-size: 18px;
}
#markdown h5 {
  font-size: 16px;
}
#markdown h6 {
  font-size: 14px;
}
#markdown p {
  text-align: justify;
}
#markdown a {
  color: #2bbc8a;
  margin: 0 3px;
}
#markdown hr {
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}
#markdown img {
  max-width: 100%;
  height: auto;
}
#markdown code {
  padding: 2px 4px;
  border-radius: 4px;
}
#markdown kbd {
  padding: 2px 4px;
  color: #fff;
  border-radius: 3px;
  background-color: #333;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}
#markdown kbd kbd {
  font-size: 100%;
  padding: 0;
  box-shadow: none;
}
#markdown pre {
  font-family: "Fira Code", "Cascadia Code", "Microsoft YaHei Mono", Consolas, "Courier New", "Menlo", "Meslo LG", monospace;
  font-size: 14px;
  line-height: 1.5;
  background: #f6f8fa;
}
#markdown pre code {
  border: none;
  display: block;
  font-family: "Fira Code", "Cascadia Code", "Microsoft YaHei Mono", Consolas, "Courier New", "Menlo", "Meslo LG", monospace;
}
#markdown li {
  margin-left: 1em;
}
#markdown li > ul,
#markdown li > ol {
  margin-bottom: 0;
}
#markdown p {
  margin: 12px 0;
}
#markdown blockquote {
  margin: 0;
}
#markdown blockquote p {
  font-style: italic;
  padding: 1em;
  border-left: 3px solid #a0aabf;
}
#markdown table {
  width: 100%;
  margin: 10px 0;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}
#markdown table tr:hover {
  background: #f9f9f9;
}
#markdown table th,
#markdown table td {
  padding: 6px 12px;
  border: 1px solid #e5e5e5;
}
