// 归档页面
- var PAGE_ACTIVE = theme.nav.archives.url;
- var LAST_YEAR = null

include inc/navbar.pug
.main
  .container
    .archive-list
      - page.posts.each(function(post){
        if LAST_YEAR !== post.date.year()
          - LAST_YEAR = post.date.year()
          h2.archive-gutter #{LAST_YEAR}年
        .archive-item
          time #{date(post.date, 'MM/DD')}
          a(href=url_for(post.link || post.path)) #{post.title}
      -})
