- var year = null
- var change = false
- var posts = page.posts.sort('date', 'desc')
!= partial('inc/header.pug',{active: '/archives/'})
.container
  .archive-list
    - posts.each(function(post){
      - var itemYear = date(post.date, 'YYYY')
      if year !== itemYear
        - year = itemYear
        h2.archive-gutter #{year}年
      .archive-item
        time #{date(post.date, config.date_format)}
        a(href=url_for(post.link || post.path)) #{post.title}
    -})
