// 首页
- var PAGE_ACTIVE = theme.nav.home.url;
include inc/navbar.pug
.main
  .container
    .article-list
      - page.posts.each(function(post){
        .article-list-item
          time.date #{date(post.date, config.date_format)}
          a(href=url_for(post.link || post.path)) #{post.title}
      -})
    .pagination!= paginator({prev_next:false})

