include inc/navbar.pug
.container
  div.head-line
    h1 #{page.title}
    .meta
      span.author #{page.author || config.title}
      time= date(page.date, config.date_format)
      if page.tags && page.tags.length
        .tags
          i.fa.fa-tag
          != list_tags(page.tags, { show_count: false, style: 'link' })

  article.post!= page.content
  p post
