- var PAGE_ACTIVE = theme.nav.tags.url;

include inc/navbar.pug
.main
  .container.tags
    .tag-cloud
      - page.tags.each(function(tag){
        a(href=url_for(tag.path) class="tag") #{tag.name} 
          span (#{tag.length})
      -})