header.navbar.navbar-fixed
  .navbar-nav
      div.container
        a.brand
        ul
          each item in theme.nav
            - if (item.url === PAGE_ACTIVE) {
              li.active
                a(href=url_for(item.url))= item.text
            - } else {
            li
              a(href=url_for(item.url))= item.text
            - }
  .navbar-line
    .navbar-wrap
      .container.current
        .cur