#footer{
  margin-right: 400px;
  margin-top: 65px;
  padding-top: 30px;
  padding-left: 160px;
  background: #fff;
  .container{
    display: flex;
    padding:20px 0;
  }
  .copy,nav{
    flex: 1;
    color: #666;
  }
  .copy{
    font-size: 12px;
  }
  nav{
    text-align: right;
    a{
      line-height: 12px;
      font-size: 12px;
      font-weight: normal;
      display: inline-block;
      border-left: 1px dotted #888;
      margin-left: 10px;
      padding-left: 10px;
      color: #2bbc8a;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
      &:first-child{
        border-left: none;
      }
    }
  }
}
