.navbar {
  font-family: 'Pingfang SC','jaf-bernino-sans', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
  position: absolute;
  padding-right:64px;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  height: 65px;
  background: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, .05);
  &-fixed {
    position: fixed;
  }

  &-nav{
    height: 64px;
    width: 700px;
    margin:0 auto;
    position: relative;
    .brand {
      position: absolute;
      top:0;
      left:-84px;
      display: block;
      float: left;
      width: 64px;
      height: 64px;
      background: url(../img/logo.png);
      background-position: center center;
      background-size: cover;
    }
    ul {
      height: 64px;
      list-style: none;
      // margin-left: 84px;
      li {
        float: left;
        margin-right: 20px;
        a {
          font-size: 14px;
          line-height: 64px;
          display: block;
          color: #666;
          &:hover {
            color: #222;
          }
        }
        &.active {
          a {
            font-weight: bold;
            color: #222;
          }
        }
      }
    }
  }
  &-line {
    height: 1px;
    background: #f1f1f1;
    .current {
      width: 700px;
      margin:0 auto;
      position: relative;
      height: 1px;
      .cur {
        position: absolute;
        top: 0;
        left: 0;
        height: 1px;
        background: #000;
      }
    }
  }
}